.cuadro{
    width: 600px;
    height: 900px;
    background-color: green;
    margin-top: 40px;
    margin-left: 75px;
    margin-right: 200px;
    margin-bottom: 200px;
    

}
.cuapeq1{
    position: relative;
    width: 500px;
    height: 800px;
    background-color: white;
    left: 50px;
    top: 40px;
}
.cuapeq2{
    position: relative;
    width: 415px;
    height: 715px;
    background-color: goldenrod;
    left: 40px;
    top: 40px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: blue;
    text-align: center;
}
.cuapeq3{
    position: relative;
    width: 800px;
    height: 200px;
    background-color: grey;
    left: 300px;
    right: 300px;
    bottom: 80px;
    }
    h2{
        padding-top: 10%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 50px;
        color: brown;
        text-align: center;
    }